<div class="form login mb-4">
    <div class="row ">
      <div class="col-4 offset-4">
        <h3 class="text-center">{{ 'form.register' | translate }}</h3>
        <div class="form-group">
          <input type="email" class="form-control col-8 offset-2" placeholder="{{ 'form.email' | translate }}" #userEmail required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control col-8 offset-2" placeholder="{{ 'form.password' | translate }}" #userPwd required>
        </div>       
          
        <div class="row d-flex justify-content-center">
          <div class="form-group">
            <input type="button" class="btn btnPrimary" value="{{ 'form.registro' | translate }}" (click)="authService.Register(userEmail.value, userPwd.value)">
          </div>
          <div class="p-2">
              <p class="orInner">{{ 'form.or' | translate }}</p>
          </div> 
          <div class="form-group">
            <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i> {{ 'form.continuewithgoogle' | translate }}
            </button>
          </div>
        </div>
    </div>
  </div>
</div>