
<div class="home">
<div class="row">
  <div class="col-1"></div>
  <div class="col-6">
    <div class="home_box">
      <div class="duck-1 "><object type="image/svg+xml" data="../../../assets/svg/skin.svg"></object></div>
      <div class="duck-2 "><object type="image/svg+xml" data="../../../assets/svg/hair.svg"></object></div>
      <div class="duck-3 "><object type="image/svg+xml" data="../../../assets/svg/face.svg"></object></div>
    </div>
  </div>
  <div class="col-5 ">
    <div class="home_box">
      <div><h4 class="text-1 ">{{ 'principal.texto' | translate }}</h4></div>
      <div><h4 class="text-2 d-none">Muestra de texto 2</h4></div>
      <div><h4 class="text-3 d-none">Muestra de texto 3</h4></div>
    </div>
</div>
</div>
</div>