  <div class="form login">
    <div class="row">
      <div class="col-12">         
        <h3>{{ 'form.login' | translate }}</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{ 'form.username' | translate }}" #userName required>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="{{ 'form.password' | translate }}" #userPassword required>
        </div>        
        <div class="d-flex justify-content-center">            
          <div class="form-group">
            <input type="button" class="btn btn-primary float-right" value="{{ 'form.login' | translate }}" (click)="authService.Login(userName.value, userPassword.value); modalClose()">
          </div>            
          <div class="p-2">
            <p class="orInner">{{ 'form.or' | translate }}</p>
          </div>                      
          <div class="form-group">
            <button type="button" class="btn google-btn" (click)="authService.GoogleAuth()"><i class="fab fa-google-plus-g"></i>{{ 'form.loginGoogle' | translate }}</button>                          
          </div>
        </div>                               
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="forgotPassword"> <a [routerLink]="['forgot']">{{ 'form.forgotpassword' | translate }}</a> </p>
      <p class="redirectToLogin">{{ 'form.redirectToLogin' | translate }} <a class="redirect" [routerLink]="['register']">{{ 'form.register' | translate }}</a></p>
    </div>
  </div>
</div>
      
 