<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
    <a class="navbar-brand" href="#"><img src="assets/svg/patoAparato.svg" alt="Sense web patoAparato.com"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" 
          aria-expanded="false" aria-label="Toggle navigation">
      <span (window:scroll)='doSomethingOnWindowsScroll($event)' class="navbar-toggler-icon" [ngClass]="{'pepe': true, 'juan': false}"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']"   >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['skills']" >Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['skills-details']" >Skills details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['skills-details']">Skills details</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

 

  <footer class="site-footer">
    <div class="row">
      <div class="col-6">
        <div class="site-footer__contact">
          <h4>
            Patricia Antón Martín.  Todos los derechos estan reservados.
          </h4>
        </div>
      </div>
      
      <div class="col-6">
          <div class="site-footer__address-col ">            
                <a href="mailto:patriciaantonmartin@gmail.com">patriciaantonmartin@gmail.com</a>
                <a href="tel:+34646811407"> <svg class="lnr lnr-phone-handset"><use xlink:href="#lnr-phone-handset"></use></svg> 646 811 407</a>
                </div>
        </div>
    </div>
  
  </footer>