<section class="main">
			
<div id="duckySkills" class="duckySkills">
  <div>
    <span class="ducky-icon icon-camera"></span>
    <h4><span>{{'skills.ilustradoraTit' | translate }}</span></h4>
    <h5><span>{{ 'skills.ilustradoraDesc' | translate }} &hearts;</span></h5>											
  </div>

  <div>
    <span class="ducky-icon icon-mobile"></span>
    <h4><span>{{ 'skills.designTit' | translate }}</span></h4>		
    <p>{{ 'skills.designDesc' | translate }}</p>									
  </div>
  
  <div>
    <span class="ducky-icon icon-camera"></span>
    <h4><span>{{ 'skills.userExperienceTit' | translate }}</span></h4>	
    <p>{{ 'skills.userExperienceDesc' | translate }}</p>										
  </div>
  
  <div>
    <span class="ducky-icon icon-mobile"></span>
    <h4><span>Responsive</span></h4>				
    <p>{{ 'skills.responsiveDesc' | translate }}</p>							
  </div>	
  
  <div>
    <span class="ducky-icon icon-download"></span>
    <h4><span>Firebase</span></h4>			
    <p>{{ 'skills.firebaseDesc' | translate }}</p>								
  </div>	

  <div>
    <span class="ducky-icon icon-video"></span>
    <h4><span>Node js</span></h4>		
    <p>{{ 'skills.nodeDesc' | translate }}</p>									
  </div>	

  <div>
    <span class="ducky-icon icon-picture"></span>
    <h4><span>JavaScript</span></h4>		
    <p>{{ 'skills.javaScriptDeSC' | translate }}</p>									
  </div>

  <div>
    <span class="ducky-icon icon-globe"></span>
    <h4><span>Bootstrap 4</span></h4>
    <p>{{ 'skills.bootstrap4Desc' | translate }}</p>
  </div>	

  <div>
    <span class="ducky-icon icon-install"></span>
    <h4><span>Scss </span></h4>
    <p>{{ 'skills.scssDesc' | translate }}</p>
  </div>		

  <div>
    <span class="ducky-icon icon-install"></span>
    <h4><span>Css3 - BEM</span></h4>
    <p>{{ 'skills.css3Desc' | translate }}</p>
  </div>	

  <div>
    <span class="ducky-icon icon-eye"></span>
    <h4><span>Html 5</span></h4>
    <p>{{ 'skills.html5Desc' | translate }}</p>
  </div>	

  <div>
    <span class="ducky-icon icon-flight"></span>
    <h4><span>Angular 6 - 7</span></h4>
    <p>{{ 'skills.angularDesc' | translate }}</p>
  </div>
</div>
</section>
  
  
  
  