@import './variables';
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  
}
@mixin user-select {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
  }
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}
@mixin  transform ($transform){
    -webkit-transform: $transform;
	-moz-transform: $transform;
	-o-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}
@mixin  transform-origin ($transform-origin){
    -webkit-transform-origin: $transform-origin;
	-moz-transform-origin: $transform-origin;
	-o-transform-origin: $transform-origin;
	-ms-transform-origin: $transform-origin;
	transform-origin: $transform-origin;
}

@mixin backface-visibility {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    }

@mixin keyframe ($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation ($name,
                  $duration: 3s,
                  $timing-function:ease,
                  $delay:0s,
                  $iteration-count: 1,
                  $transform-origin: top left,  
                  $direction: normal,
                  $fill-mode: none,
                  $play-state: running) {
                -webkit-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode $play-state;
                -moz-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode $play-state;
                animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode $play-state;
}

/*****************************************/

$colors:(
    1: #ce0202,
    2: #c74002,
    3: #bb6503,
    4: #a78601,
    5: #bed307,
    6: #5c7e06,
    7: #035a3a,
    8: #0e61a8,
    9: #222e9c,
    10:#4b0175,
    11:#8a0157,
    12:#6d0000   
);



@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }