
$color-base: #000;
$width: 100px;

$navHeight: 100px;
$footerHeight: 80px;
$logoBig: 100px;
$navBg: rgba(0, 0, 0, 0.2);
$darkGrey: #333;
$primaryColor: #C00000;
$white: #fff;
$black: #000;
$navBarIconSize: 55px;
$duckySize: 400px;
//footer colors
$footbg: rgb(27, 2, 2);
$foot1: rgb(121, 5, 5);
$foot2: rgb(192, 61, 0);
$foot3: rgb(100, 2, 24);
$foot4: rgb(117, 0, 0);




//&transicionHoverA
